html 
  overflow-x: hidden;

body 
  margin: 0;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  /*** RAINBOW ***/
  .rainbow-container
    height: 100vh;
    width: 100vw;
    font-size: 22px;
    animation: rainbow-background;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    position: relative;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-weight: bold;
    
    @media screen and (max-device-width: 600px)
      font-size: 44px;

  .rainbow__text
    display: flex;
    justify-content: center;

  .rainbow__text--highlighted
    font-family: 'Indie Flower', cursive;
    display: flex;
    justify-content: center;

  /*** RAIN ***/
  .rain-container
    height: 100vh;
    width: 100vw;
    font-size: 22px;
    margin: 0
    padding: 0
    color: white;
    position: relative;
    background: linear-gradient(to bottom, #020202, #011627);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-device-width: 600px)
      font-size: 44px;

    .rain
      height: 100vh;
      $n: 100;
      
      .rain-drop
        position: relative;
        float: left;
        width: 4px;
        margin: 10px;
        left: 40px;
        background: white;
        background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, #ffffff 100%);
        border-radius: 160px 160px 160px 160px;
        animation: rain 0.8s infinite ease-out;
      
      
      @for $i from 1 through $n
        $height: random(40);
        $top: random(15);
        $animationList: -1.0, -1.2, -1.4, -1.6, -1.8;
        $animationKey: random(length($animationList));
        $nth: nth($animationList, $animationKey);
        .rain-drop:nth-child(#{$i}) 
          height: #{$height}px;
          top: #{$top}px;
          animation-delay: #{$nth}s;

  .rain__content
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .rain__text
    display: flex;
    justify-content: center;

  .rain__text--highlighted
    display: flex;
    justify-content: center;

  /*** CONTACT ***/
  .contact-container
    height: 100vh;
    width: 100vw;
    background-color: #574B60;
    position: relative;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    
    @media screen and (max-device-width: 600px)
      align-items: center;

  .contact__image 
    height: 100vh;
    display: flex;
    flex-flow: wrap;

    @media screen and (max-device-width: 600px)
      width: 100vw;
      opacity: 0.3;
  
  .contact__about
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media screen and (max-device-width: 600px)
      position: absolute;

  .contact__title
    display: flex;
    font-size: 28px;
    margin: 0;
    @media screen and (max-device-width: 600px)
      z-index: 2;
      font-size: 48px;

  .contact__subtitle  
    display: flex;
    font-size: 14px;
    margin: 0 0 40px 0;
    @media screen and (max-device-width: 600px)
      z-index: 2;
      font-size: 34px;

  .contact__text
    display: flex;
    font-size: 18px;
    color: #FFFFFA;
    
    @media screen and (max-device-width: 600px)
      z-index: 2;
      font-size: 38px;

  .contact__link
    display: flex;
    font-size: 18px;
    text-decoration: none;
    color: #FFFFFA;
    @media screen and (max-device-width: 600px)
      z-index: 2;
      font-size: 38px;
  
  .contact__link:hover
    color: #BCA0BC;

  .footer
    position: absolute;
    right: 22px;
    bottom: 2px;
    font-size: 12px;
    text-align: right;
    color: white;
    z-index: 2;

    @media screen and (max-device-width: 600px)
      font-size: 32px;

/*** ANIMATIONS ***/
@keyframes pulse 
  50% 
    background-position: 20px 20px, -20px 20px;
  
  100% 
    background-position: 40px 40px, -40px 40px;

@keyframes rain 
  0% 
    opacity: 1;
    transform: translate(0, 0);

  100% 
    opacity: 0.2;
    transform: translate(0, 100vh);
  
@keyframes rainbow-background
  0%, 100%
    background: #A40606;
    color: black;
  15%
    background: #D7CF07;
    color: black;
  30%
    background: #D98324;
    color: black;
  45%
    background: #70AE6E;
    color: black;
  60%
    background: #19647E;
    color: white;
  75%
    background: #3D2B3D;
    color: white;
  90%
    background: #3626A7;
    color: white;
