body 
  margin: 0;

  /*** COVER ***/
  .cover-container
    height: 100vh;
    background-color: red;
    position: relative;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  .cover__text
    display: flex;

  .cover__text--highlighted
    display: flex;

  /*** RAINBOW ***/
  .rainbow-container
    height: 100vh;
    background-color: purple;
    position: relative;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  .rainbow__text
    display: flex;

  .rainbow__text--highlighted
    display: flex;

  /*** RAIN ***/
  .rain-container
    height: 100vh;
    margin: 0
    padding: 0
    color: white;
    font-size: 50px;
    position: relative;
    background-color: #00081c;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    .rain
      height: 100vh;
      .rain-drop
        position: relative;
        float: left;
        width: 4px;
        
        margin: 10px;
        left: 40px;
        background: #84C7EB;
        border-radius: 160px 160px 160px 160px;
        animation: rain 0.8s infinite ease-out;
      
      $n: 100;
      @for $i from 1 through $n
        $height: random(40);
        $top: random(15);
        $animationList: -1.0, -1.2, -1.4, -1.6, -1.8;
        $animationKey: random(length($animationList));
        $nth: nth($animationList, $animationKey);
        .rain-drop:nth-child(#{$i}) 
          height: #{$height}px;
          top: #{$top}px;
          animation-delay: #{$nth}s;

  .rain__content
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  .rain__text
    display: flex;

  .rain__text--highlighted
    display: flex;

  /*** CONTACT ***/
  .contact-container
    background-color: blue;
    height: 100vh;
    position: relative;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  .contact__image 
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
  
  .contact__text
    margin: 0;
    display: flex;

/*** ANIMATIONS ***/
@keyframes pulse 
  50% 
    background-position: 20px 20px, -20px 20px;
  
  100% 
    background-position: 40px 40px, -40px 40px;

@keyframes rain 
  0% 
    opacity: 1;
    transform: translate(0, 0);

  100% 
    opacity: 0.2;
    transform: translate(0, 100vh);
  
.test
  background: yellow
  